<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    <h2>Form</h2>
  </nav>
  <div class="row">
    <div class="col-8 ml-0.5 p-4" id="side">
      <h3>Registered Students</h3>
      <div class="table-responsive">
        <table class="table  ">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Username</th>
              <th scope="col">Mobile No.</th>
              <th scope="col">Email Id</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Country</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of alluser">
              <td><button (click)="edituser(user)" class="btn btn-warning btn-sm">Edit</button></td>
              <td><button (click)="deleteuser(user)" class="btn btn-danger btn-sm">Delete</button></td>
              <td>{{user.id}}</td>
              <td>{{user.firstname}}</td>
              <td>{{user.lastname}}</td>
              <td>{{user.username}}</td>
              <td>{{user.mobile}}</td>
              <td>{{user.email}}</td>
              <td>{{user.city}}</td>
              <td>{{user.state}}</td>
              <td>{{user.country}}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4 p-4" id="main">
      <h3>Registration Form</h3>
      <br>
      <form [formGroup]="registrationform" (ngSubmit)="onSubmit()" #myform="ngForm">

        <div class="form-group">
          <input [class.is-invalid]="firstname!.invalid && firstname!.touched" formControlName="firstname" type="text"
            class="form-control" placeholder="First Name" name="firstname" [(ngModel)]="userObj.firstname">
          <div *ngIf="firstname!.invalid && firstname!.touched">
            <small *ngIf="firstname!.errors?.required" class="text-danger">Firstname is required</small>
            <small *ngIf="firstname!.errors?.minlength" class="text-danger">Firstname too short!</small>
          </div>
        </div>


        <div class="form-group">
          <input [class.is-invalid]="lastname!.invalid && lastname!.touched" formControlName="lastname" type="text"
            class="form-control" placeholder="Last Name" name="lastname" [(ngModel)]="userObj.lastname">
          <small [class.d-none]="lastname!.valid || lastname!.untouched" class="text-danger">Last Name is
            required</small>
        </div>



        <div class="form-group">
          <input [class.is-invalid]="username!.invalid && username!.touched" formControlName="username" type="text"
            class="form-control" placeholder="Username" name="username" [(ngModel)]="userObj.username">
          <div *ngIf="username!.invalid && username!.touched">
            <small *ngIf="username!.errors?.required" class="text-danger">Username is required</small>
            <small *ngIf="username!.errors?.minlength" class="text-danger">username too short!</small>
          </div>
        </div>





        <div class="form-group">
          <input [class.is-invalid]="email!.invalid && email!.touched" type="email" formControlName="email"
            class="form-control" placeholder="Email" name="email" [(ngModel)]="userObj.email">

          <small [class.d-none]="email!.valid || email!.untouched" class="text-danger">Email is required</small>
          <div formArrayName="alternateemail" *ngFor="let email of alternateemail.controls; let i=index">
            <input type="email" class="form-control my-1" [formControlName]="i" placeholder="Alternate Email">
          </div>
          <button type="button" class="btn btn-dark btn-sm m-2" (click)="addalternateemail()">Add Email</button>
        </div>


        <div class="form-group">

          <input [class.is-invalid]="mobile!.invalid && mobile!.touched" type="tel" formControlName="mobile"
            class="form-control" placeholder="Mobile No." name="mobile" [(ngModel)]="userObj.mobile">

          <div *ngIf="mobile!.invalid && mobile!.touched">
            <small *ngIf="mobile!.errors?.required" class="text-danger">Mobile is required</small>
            <small *ngIf="mobile!.errors?.minlength" class="text-danger">Not a Mobile No.!</small>
          </div>
          <div formArrayName="alternatemobile" *ngFor="let mobile of alternatemobile.controls; let i=index">
            <input type="tel" class="form-control my-1" [formControlName]="i" placeholder="Alternate Mobile No.">
          </div>
          <button type="button" class="btn btn-dark btn-sm m-2" (click)="addalternatemobile()">Add Mobile
            No.</button>
        </div>

        <div class="border rounded p-2">
          <label>Address</label>
          <div class="form-group">
            <input formControlName="city" type="text" class="form-control" placeholder="City" name="city"
              [(ngModel)]="userObj.city">
            <!-- <small [class.d-none]="city!.valid || city!.untouched" class="text-danger">city is required</small> -->
          </div>

          <div class="form-group">
            <input formControlName="state" type="text" class="form-control" placeholder="State" name="state"
              [(ngModel)]="userObj.state">
            <!-- <small [class.d-none]="state!.valid || state!.untouched" class="text-danger">state is required</small> -->
          </div>

          <div class="form-group">
            <input formControlName="country" type="text" class="form-control" placeholder="Country" name="country"
              [(ngModel)]="userObj.country">
            <!-- <small [class.d-none]="country!.valid || country!.untouched" class="text-danger">country is required</small> -->
          </div>
        </div>

        <br>
        <button [disabled]="!registrationform.valid" class="btn btn-primary" type="submit"
          (click)="addUser(myform.value)" *ngIf="!isEdit">Submit</button>
        <button class="btn btn-info ml-2" type="button" *ngIf="isEdit" (click)="updateuser()">Update</button>
        <!-- {{registrationform.value | json}} -->
      </form>
    </div>
  </div>
</div>